<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 error</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../includes/nav.ejs', {active: "active"}, {notActive: ""}) %>
  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h1><%= title %></h1>
    <p>The page you were looking for Is not functioning at the moment. Please try again later. Sorry for the
      inconvenience!</p>
  </div>
  </div>

</body>

</html>