<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        li a.orders {
          background-color: rgb(74, 74, 211);
          color: white;
        }
      </style>
</head>

<body>
    <%- include('../includes/nav.ejs', {active: "active"}, {notActive: ""}) %>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        <% orders.forEach (order => { %>
        <div>
            <h1>Order number: <%= order._id %></h1>
            <% order.products.forEach (product => { %>
                <p><%= product.productData.title %>(<%= product.quantity %> ) </p>
            <% }) %>
        </div>

        <% }) %>
    </div>

</body>

</html>