<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <ul>
    <li><a href="./">Home</a></li>
    <li><a href="./shop">Armory</a></li>

    <% if (!isAuth){ %> 
    <li><a href="./auth">Sign In</a></li>
    <% } %> 

    <% if (isAuth){ %> 
    <li><a class="active" href="./admin">Admin</a></li>
    <li><a href="">Cart</a></li>
   <form action="auth/logout" method="POST">
     <button type="submit">Logout</button>
   </form>
    <% } %> 
  </ul>
      
      <div style="margin-left:25%;padding:1px 16px;height:1000px;">
       <h1><%= itemT%></h1>
       <img src="<%= itemI%>">
       <p>Price: <%= itemP%></p>
       <p>Description: <%= itemD%></p>
       
     </div>
</body>
</html>